<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<div align="center" class="container my-2 bg-dark text-white">
		<h1>Movie List</h1>
		<a th:href="@{/showNewMovieForm}" class="btn btn-info btn-sm mb-3">Add Movie</a>
		 &nbsp; 
		<a th:href="@{/movieList}" class="btn btn-info btn-sm mb-3">Sorting Movie List By Date</a>
		<div>
			<form th:action="@{/showNewSearchResult}" method="GET">
				<input type="text" id="txtSearch" name="keyword" required
					class="form-control"> &nbsp;
				<button type="submit" class="form-control btn btn-info">Search</button>
			</form>
		</div>
		<br/>
		<table class="table table-dark table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Movie Name</th>
					<th>Movie Description</th>
					<th>Movie Genre</th>
					<th>Movie Year</th>
					<th>Movie Language</th>
					<th>Movie Media</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="movie : ${listMovies}">
					<td th:text="${movie.movieName}"></td>
					<td th:text="${movie.movieDescription}"></td>
					<td th:text="${movie.movieGenre}"></td>
					<td th:text="${movie.movieYearOfPublication}"></td>
					<td th:text="${movie.movieLanguage}"></td>
					<td th:text="${movie.movieMedia}"></td>
					<td>
					<a th:href="@{/showFormForEdit/{movieId}(movieId=${movie.movieId})}"
						class="btn btn-primary">Edit</a> 
					<a th:href="@{/deleteMovie/{movieId}(movieId=${movie.movieId})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<br/>
	</div>
</body>
</html>